*.elc
eln-cache/
straight/
auto-save-list/
auto-saves/
.saves-*
.org-id-locations
org-roam.db
bookmarks.eld
bookmarks.eld~
history
transient/
projects.eld
tree-sitter/
backups/
tramp
.cache/
.lsp-session-*
lisp/xq-local-pre.el
lisp/xq-local-post.el
